h1 {
  text-align: center;
}

form {
  margin: 32px 0 32px 32px;
  padding: 0px;
  max-width: 250px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  height: 32px;
  width: 95%;
  font-size: 20px;
  margin: 0 0 16px 0;
  padding: 2px 8px;
}

button {
  height: 32px;
  width: 100%;
  font-size: 20px;
}

ul {
  margin: 32px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  font-size: 20px;
  list-style: none;
  max-width: 200px;
  margin: 8px;
  padding: 16px;
  background-color: #ebebeb;
}